@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    background-color: #2E2E2E;
    font-size: 200%;
    font-family: 'Quicksand', sans-serif;
}


header{
    font-size: 50px;
    color: #FBFAF5;
}

header, h2 {
    text-decoration: underline;
    text-align: center;
}

p {
    color: #FBFAF5; 
    text-align: center;
}

#fileInputDiv {
    display: block;
}

#fileInput{
    border:#FBFAF5 3px solid;
    border-radius: 5px;
    font-size: 20px;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#graphContainer {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

#graph {
    display: grid;
    grid-template-columns: 2fr 2.5fr 2fr;
    max-width: 1300px;
    text-align: center;
    margin: auto;
    align-self: center;
}

#howtouse {
    display: table;
    margin:0 auto;
    text-align: left;
    list-style-position: inside;
    color: #FBFAF5;
}

#example {
    display: grid;
    margin:0 auto;
    text-align: left;
    list-style-position: inside;
    grid-template-columns: 1fr 1fr;
    color: #FBFAF5;
    max-width: 1200px;
    grid-gap: 10px;
}

#examplecodeblock{
    border: #4a4949 2px solid;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
    
}

pre, code{
    white-space: pre-line;
}

#comment {
    color: #f62f2f;
    margin: 0;
    padding: 0;
    padding-left: 10%;
}

#howdoesitwork {
    color: #FBFAF5;
    display: table;
    margin:0 auto;
    text-align: left;
    list-style-position: inside;
    max-width: 600px;
}


#tryitnow {
    color: #FBFAF5;
    padding:0;
    margin:0;
    text-align: center;
}

#tryitnowheader {
    margin: 0;
    padding: 0;
}

#legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 15px;
}
  
#legend-color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
  
#legend-label {
    font-size: 20px;
    color: #FBFAF5;
    text-align: left;
}
  

#legend{
    padding-top: 55px;
    max-width: 300px;
    padding-left: 20px;
}

#samplebutton {
    margin: 10px;
}

#grid2 {
    display: grid;
    margin:0 auto;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    grid-gap: 10px;
    color: #FBFAF5;
}

#specialheader {
    margin: 0;
}

#hint {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: #949292;
    font-size: 20px;
}

a:visited { 
 text-decoration: none; 
 color: orange;
}

a{
    color: orange;
}

#headerdiv {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}