@font-face {
    font-family: 'Quicksand';
    src: url('/assets/Quicksand-Regular.eot');
    src: url('/assets/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/Quicksand-Regular.woff2') format('woff2'),
        url('/assets/Quicksand-Regular.woff') format('woff'),
        url('/assets/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: #2E2E2E;
    font-size: 200%;
    font-family: 'Quicksand', sans-serif;
}


header {
    font-size: 50px;
    color: #FBFAF5;
}

header,
h2 {
    text-decoration: underline;
    text-align: center;
}

p, h2 {
    color: #FBFAF5;
    text-align: center;
}


#fileInput {
    border: #FBFAF5 3px solid;
    border-radius: 5px;
    font-size: 20px;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#graphContainer {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

#graph {
    display: grid;
    grid-template-columns: 2fr 2.5fr 2fr;
    max-width: 1300px;
    text-align: center;
    margin: auto;
    align-self: center;
}

#graph>* {
    aspect-ratio: 1/1;
    /* Adjust the aspect ratio as needed */
}

#howtouse {
    display: table;
    margin: 0 auto;
    text-align: left;
    list-style-position: inside;
    color: #FBFAF5;
}

#example>* {
    aspect-ratio: 1/1;
    /* Adjust the aspect ratio as needed */
}

#example {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    text-align: left;
    list-style-position: inside;
    color: #FBFAF5;
    max-width: 1200px;
    grid-gap: 20px;
}



#examplecodeblock {
    border: #4a4949 4px solid;
    border-radius: 10px;
    text-align: left;
    padding: 10px;

}

pre,
code {
    white-space: pre-line;
}

#comment {
    color: #f62f2f;
    margin: 0;
    padding: 0;
    padding-left: 10%;
}

#howdoesitwork {
    color: #FBFAF5;
    display: table;
    margin: 0 auto;
    text-align: left;
    list-style-position: inside;
    max-width: 600px;
}


#tryitnow {
    color: #FBFAF5;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-table;
}

#tryitnowheader {
    margin: 0;
    padding: 0;
}

#legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-left: 15px;
}

#legend-color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#legend-label {
    font-size: 25px;
    color: #FBFAF5;
    text-align: left;
}


#legend {
    padding-top: 55px;
    max-width: 300px;
    padding-left: 20px;
}

#samplebutton {
    margin: 10px;
}

#grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    grid-gap: 20px;
    color: #FBFAF5;
}


#specialheader {
    margin: 0;
}

#hint {
    margin: 0;
    margin-bottom: 10px;
}

a:visited {
    text-decoration: none;
    color: orange;
}

a {
    color: orange;
    text-decoration: none;
}

#headerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#headerdiv img {
    width: 110px;
    height: 112px;
    object-fit: contain;
    margin-right: 10px;
}


#essential {
    margin: 0;
    padding: 0;
    color: #008d00;
}

#essentialnote {
    margin: 0;
    padding: 0;
    color: #008d00;
    text-align: center;

}

#redessentialnote {
    margin: 0;
    padding: 0;
    color: #f62f2f;
    text-align: center;
}

#examplenotes {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 900px;
}

#firstgridbox {
    width: 517px;
    height: 371.66px;
}

#coolbutton {
    color: black;
    border: #FBFAF5 3px solid;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FBFAF5;
}

#headerlink {
    color: #FBFAF5;
}